{% extends "base_nav" %}
{% block content %}
    <div class="container">
    <form method="post" action="/user/pet/{{dog_id}}/update">
      {% include "pet/simple_data_form" %}
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
{% endblock container %}
