<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" href="/static/main.css"/>-->
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/static/img/dog.svg" width="30" height="30" class="d-inline-block align-top" alt=""/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/pets">My pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/data">Found a pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/data">Profile</a>
          </li>
          <li class="nav-item d-flex justify-content-lg-end">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class="container">
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" value="Nina"/>
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" aria-label="Default select example" id="type">
          <option value="1" selected>Dog</option>
          <option value="2">Cat</option>
          <option value="3">Other</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="breed" class="form-label">Breed</label>
        <select class="form-select" aria-label="Default select example" id="breed">
          <option value="1" selected>Golden retriever</option>
          <option value="2">German shepherd</option>
          <option value="3">Border collie</option>
          <option value="4">Mixture</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" aria-label="Default select example" id="gender">
          <option value="1">male</option>
          <option value="2" selected>female</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="color" class="form-label">Color</label>
        <select class="form-select" aria-label="Default select example" id="color">
          <option value="1" selected>white</option>
          <option value="2">brownish</option>
          <option value="3">brown</option>
          <option value="4">dark brown</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="birth" class="form-label">Birthdate</label>
        <input type="text" class="form-control" id="birth" aria-describedby="nameHelp" value="2018-03-23"/>
      </div>
      <div class="mb-3">
        <label for="regid" class="form-label">Registration number</label>
        <input type="text" class="form-control" id="regid" aria-describedby="nameHelp" value="123456789"/>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" aria-describedby="nameHelp" value="favorite"/>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
