<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <script>
      // Facebook init
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '1925360770951525',
              cookie     : true,
              xfbml      : true,
              version    : 'v9.0'
          });
          FB.AppEvents.logPageView();   
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script>
      // Google init
      function start() {
          gapi.load('auth2', function() {
              auth2 = gapi.auth2.init({
                  client_id: '1096827736105-9i3maoctaf165048vin5oicuv7pgr40u.apps.googleusercontent.com',
                  // Scopes to request in addition to 'profile' and 'email'
                  //scope: 'additional_scope'
              });
              attachSignin(document.getElementById('google_button'));
          });
      }

      function attachSignin(element) {
          console.log(element.id);
          auth2.attachClickHandler(element, {}, onSignIn);
      }
  </script>
  </head>
  <body>
    <script>
      // Facebook login
      function checkLoginState() {
          FB.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                  var id_token = response.authResponse.accessToken;
                  document.getElementById('facebook_idtoken').value = id_token;
                  document.getElementById('facebook_form').submit();
                  // var xhr = new XMLHttpRequest();
                  // xhr.open('POST', 'http://localhost:8000/user/fblogin');
                  // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                  // xhr.onload = function() {
                  //     console.log('Signed in FB as: ' + xhr.responseText);
                  // };
                  // xhr.send('idtoken=' + id_token);
              } else {
                  document.getElementById('status').innerHTML = 'Please log into this webpage.';
              }
          });
      }

    </script>


    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <!-- <meta name="google-signin-client_id" content="1096827736105-9i3maoctaf165048vin5oicuv7pgr40u.apps.googleusercontent.com"> -->
    <script>
      // google login script
      function googleSignIn() {
          console.log("google button clicked");
          auth2.grantOfflineAccess().then(onSignIn);
      }
      
      function onSignIn(googleUser) {
          console.log("google sign in succeeded")
          var profile = googleUser.getBasicProfile();
          var id_token = googleUser.getAuthResponse().id_token;
          document.getElementById('google_idtoken').value = id_token;
          document.getElementById('google_form').submit();
          // var xhr = new XMLHttpRequest();
          // xhr.open('POST', 'http://localhost:8000/user/googlelogin');
          // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          // xhr.onload = function() {
          //     console.log('Signed in Google as: ' + xhr.responseText);
          // };
          // xhr.send('idtoken=' + id_token);
      
      }  
    </script>
  

    <form action="/user/login" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" value=""><br><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" value=""><br><br>
      <input type="submit" value="Submit">
    </form>

    <!-- Facebook login form -->
      <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width="" scope="public_profile,email" onlogin="checkLoginState();"></div>
    <form action="/user/login_facebook" method="post" id="facebook_form">
      <input type="hidden" id='facebook_idtoken' name='idtoken' value="">
    </form>

    <!-- Google login form -->
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <button id="google_button">Sign in with Google</button>
    <form action="/user/login_google" method="post" id="google_form">
      <input type="hidden" id='google_idtoken' name='idtoken' value="">
    </form>

    <!-- Register -->
    <a href="/user/create">Register</a><br><br>

    <!-- Reset password -->
    <a href="/user/create">Register</a><br><br>

  </body>
</html>
